.bgpage{
    height: 100%;
    width: 100%;
    background-color: azure;
}
.bg_day1{
    background-color: beige;
}
.city_name{
    font-size: 25px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 2%;
}

.lat_long{
    font-size: 10px;
    text-align: center;
}
.primary_info{
    font-size: 15px;
    text-align: center;
}
.secondary_info{
    font-size: 10px;
    text-align: center;
}
.icon_temp{
    display: block;
    margin-right: auto;
    margin-left: auto; 
    height: 200px ;
    width: auto;
}